.body2 {
    /* Frame 874 */
    position: relative;
    margin-right: 20px;


    width: 370px;
    height: 564px;

    /* Secondary */


    border-radius: 4px;
    border: #F5F5F5 solid 1px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.innbody2 {
    /* Frame 874 */


    width: 370px;
    height: 430px;

    /* Secondary */

    background: #F5F5F5;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.bodeimg2 {
    position: relative;
    padding-top: 39px;
    padding-left: 67px;
    padding-right: 67px;

    width: 236px;
    height: 391px;


}

.title2 {

    width: 240px;
    height: 30px;

    /* Heading/32PX Medium */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 30px;
    /* identical to box height, or 94% */

    letter-spacing: 0.04em;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.subtitle2 {
    width: 167px;
    height: 24px;

    /* Title/16PX Regular */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.icons2 {
    position: relative;
    padding-left: 10px;
    padding-top: 10px;
    width: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.innbodybuttom2 {
    position: relative;
    padding-top: 20px;
}